body{font-family: 'Rubik', sans-serif;
   padding-left: 1.5rem;
padding-right: 1.5rem; }

.nav-icons{display: flex;
gap: 1rem;}

img{width: 1.5rem;
height: 1.5rem;
}



.logo{font-size: 2rem;
    font-weight: 400;
}

    nav ul {
        display: flex;
        list-style: none;
        gap: 2rem;
        font-weight: 700;
      }

      a {
        text-decoration: none;
        color: #434143;
      }
      

      header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
       
      }
