body{font-family: 'Rubik', sans-serif;
   padding-left: 2.5rem;
padding-right: 2.5rem; }



.nav-icons{display: flex;
gap: 1rem;}

.icons {width: 1.5rem;
height: 1.5rem;
}





.logo{font-size: 2rem;
    font-weight: 400;
    color: black;
}
@media (max-width: 768px) {
  

  .nav-links{display: none;}

  .sub-title p{display: none;}

  .news-heading{position: absolute;
  display: flex;
justify-content: left;
padding-left: 40px;}


}



    nav ul {
        display: flex;
        list-style: none;
        gap: 2rem;
        font-weight: 700;
      }

      .nav-links {
        text-decoration: none;
        color: #434143;
      }

      .icon-links{text-decoration: none;
      color: black;}
      
      .news-links{text-decoration: none;
      color: #1d0000;}

      header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
       
      }

      .title{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 4em;
      }

      .sub-title{
        display: flex;
        gap: 1rem;
        font-size: 1rem;
        color: rgba(0, 0, 0, 0.637);
        margin: 0;
        padding: 0;
        width: 20vw;
      margin-right: 100px;
      height: 280px;
      }

      .arrow{height: 16rem;
        width: 8rem;
      position: relative;
    margin-left: 2rem;}

      .news{  display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;
        
    }

    .news-item{
      background-color: rgb(240, 240, 240);
      padding: 10px;
      height: 200px;
      display: flex;
     
      
      
    }


.news-photo-wrapper{
  background-image: url(workers.jpg);
  padding-right: 10px;
  width: 180px;
  background-size: cover;
  background-position: center;
  height: 100%;}

  .news-photo-wrapper-two{
    background-image: url(platform.jpg);
    padding-right: 10px;
    width: 180px;
    background-size: cover;
    background-position: center;
    height: 100%;}

    .news-photo-wrapper-four{
      background-image: url(vires.jpg);
      padding-right: 10px;
      width: 180px;
      background-size: cover;
      background-position: center;
      height: 100%;
 
}
.news-text-wrapper{display: flex;
  flex-direction: column;
justify-content:space-between;
padding-left: 20px;
width: 10.5rem;}


.date{color: rgba(0, 0, 0, 0.356);}

.load-more-div{display: flex;
justify-content: center;
padding-top: 1rem;
padding-bottom: 1rem;}

.load-more-button{
  all: unset;
  color: white;
  background-color: blue;
  width: 8rem;
  height: 3rem;
  text-align: center;
}

.library{display: flex;
justify-content: center;
font-size: 2em;
}

.library-title{
  width: 50%;

}

.button-link{display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(42, 139, 237);
  text-decoration: none;
border: none;
width: 150px;
height: 50px;
}

.squares{display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.square1{ display: flex;
  height: 31rem;
background-color: rgb(42, 139, 237);
padding: 1rem;
flex-direction: column;
justify-content: space-between;}

.square2{ display: flex;
  height: 31rem;
background-color: black;
padding: 1rem;
flex-direction: column;
justify-content: space-between;}
 
.logo-white{font-size: 2rem;
  height: 3rem;
  font-weight: 400;
  color: white;
}

.square-heading {color: white;
font-size: 3rem;
margin: 0;
display: flex;
justify-content: left;
}

.square-content{display: flex;
  justify-content: flex-end;
flex-direction: column;}

.square-links{display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: transparent;
  text-decoration: none;}